@model List<SevalKocaApp.Models.Urun>
@{
    ViewData["Title"] = "Üst Giyim";
}

<main class="category-page-container">
    
    <div class="category-header">
        <h1 class="category-title">ÜST GİYİM</h1>
        <div class="category-filters">
            <span>Filtrele <i class="fa-solid fa-sliders"></i></span>
            <span>Sırala <i class="fa-solid fa-chevron-down"></i></span>
        </div>
    </div>

    <div class="products-grid">
    
        @foreach (var urun in Model)
        {
            <a asp-controller="Home" asp-action="UrunDetay" asp-route-id="@urun.UrunID" class="product-card">
                <img src="~/@urun.GorselURL" alt="@urun.UrunAdi">
                <h3>@urun.UrunAdi</h3>
                <p class="price">₺@urun.Fiyat</p>
            </a>
        }

    </div>
        
</main>